.recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .recipe-card {
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    max-width: 200px;
    text-align: center;
    transition: transform 0.2s;
  }
  
  .recipe-card:hover {
    transform: scale(1.05);
  }
  
  .recipe-card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .recipe-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .recipe-card button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .recipe-card button:hover {
    background-color: #0056b3;
  }
  